
/* --------------------------------------------Estilos para los banners -------------------------------------------- */

.banner {
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
   }
  
   /* Con el fin de reutilizar codigo, se crea una clase extra que solo intercambia el fondo del banner*/
  
  .banner-marketing {
    background-image: url("../img/marketing/domoposte.jpg");
  }
  
  .banner-promocional {
    background-image: url("../img/marketing/tecnicos.jpeg") ;
  }
  
  .banner-ofertas {
    
    background-image: url("../img/marketing/banner2.jpg");
  }
  
  
  .banner-familia {
    
    background-image: url("../img/marketing/familia.jpg");
  }
  
  
  .bannerContacto__content {
    text-align: center;
  }
  
  .bannerContacto__title {
    font-size: 34px;
    color: #fff;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .bannerContacto__button {
    display: inline-block;
    padding: 10px 20px;
    background-color:$color-botones;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 10px;
  }
  