
.banner {
    @extend %centrado;
    background-size: cover;
    background-position: center;
    height: 400px;    
    background-repeat: no-repeat;
   }
  
    
  
  .bannerContacto__content {
    text-align: center;
  }
  
  .bannerContacto__title {
    font-size: 34px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
    @extend %sombra;
  }
  
  .bannerContacto__button {
    @include boton($color-botones,10px);
  
  }

  /* Con el fin de reutilizar codigo, se crea una clase extra que solo intercambia el fondo del banner*/
  
  
  .banner-marketing {
    background-image: url("../img/marketing/domoposte2.jpg");
  }
  
  .banner-promocional {
    background-image: url("../img/marketing/tecnicos.jpeg") ;
  }
  
  .banner-ofertas {
    
    background-image: url("../img/marketing/banner2.jpg");
  }
  
  
  .banner-familia {
    
    background-image: url("../img/marketing/familia.jpg");
  }
  