.camarasContainer {
    width: 100%;
   }
   
   .camarasVivo__title{
     text-align: center;
   }
   
   .camarasVivo__iframe {
     width: 100%;
     height: 500px;  
   }
   
   .botonesContainer {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin: 20px;
   }
      
 