.formulario {
    background-image: url(../img/marketing/contactofondo.jpg);
    background-size: cover;
    @extend %centrado;
    flex-direction: column;   
    text-align: center;
    height: 700px;
    padding: 0;
  }
  
  
  .formulario__form {
    width: 80%;
    max-width: 400px;
  }
  
  .formulario__campo {
    margin-bottom: 15px;
  }
  
   
  .formulario__input,
  .formulario__textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .formulario__textarea{
    height: 100px;
    resize: none;
  }
  
  .formulario__button {
    @extend %boton;  
  
    cursor: pointer;
    margin-bottom: 15px;
  }
  