.construccion__content{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    padding-bottom: 150px;  
    background-image: url(../img/marketing/construccion.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom:$color-primario 35px solid;
    @extend %sombra;
  
  }
  
  .construccion__text{
    margin-top: 55px;
    @extend %sombra;
     font-weight: bold;
  }
  
  