
.nosotros {
    padding: 20px;
    
  }
  
  .nosotros__content {
    max-width: 800px;
    margin: auto ;
  
  }
  
  .nosotros__title{
    text-align: center;
  }
  
  
  .nosotros__paragraphs {
    margin-bottom: 20px;
  }
  
  .nosotros__paragraph {
    color: #666;
    line-height: 1.5;
  }
  