  .nosotros__content {
    max-width: 800px;
    margin: auto ;
      h1{
        margin:15px;
      }
      p{
        margin: 10px;
        color: #666;
        line-height: 1.5;
      }
      
  }
    