.ventajas {
  width: 100%;
  text-align: center;
  padding: 8px; 
}
.ventajas__container{
  width: 100%;
       p {
      padding: 15px
    };
}

.ventajas__title {
  margin-top: 30px;  
}

.boton_largo{
  width: 40%;
}
.ventajas__link {
  background-color:$color-botones;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: inline-block;
  padding: 10px 20px;
  margin: 15px;
    &:hover{
      color: black;       
    }
}
