.ventajas {
  width: 100%;
  text-align: center;
  padding: 8px; 
}
.ventajas__container{
  width: 100%;
       p {
      padding: 15px
    };
}

.ventajas__title {
  margin-top: 30px;  
}

.boton_largo{
  width: 40%;
}
.ventajas__link {
  @extend %boton;
  background-color:$color-botones;
  margin: 15px;
    &:hover{
      color: black;       
    }
}
